{% extends 'dashboard.html' %}

{% block body %}
<div class="main-content container-fluid d-flex flex-wrap">
  {% for row in datas %}
<div class="card" style="width: 18rem; margin-right: 20px; margin-top: 20px;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body card-title">
    <h5 class="card-text">{{row.MARCA}}</h5>
    <h5 class="card-text">{{row.MODELO}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{row.DESCRICAO}}</li>
    <li class="list-group-item">{{row.ANO}}</li>
    <li class="list-group-item"><h5>R${{row.PRECO}}</h5></li>
  </ul>
  <div class="card-body card-end">
    <p class="list-group-item">{{row.LOCALIZACAO}}</p>
  <div class="text-end option-edit-button">
    <a href="{{url_for('edit_car', id=row.ID)}}"><i class="pencil fa-solid fa-pen-to-square"></i></a>
  </div>
  </div>
</div>
{% endfor %}
</div>
  <p class="text-right"><a href="{{url_for('add_car')}}" class="option-add-button"><i class="fa-solid fa-plus plus"></i></a></p>
{% endblock %}